.nav {
  position: fixed;
  width: 100%;
  height: 20%;
  background: black;
  color: blue;
  padding: 10px;
  display:block;
}
body {

}
.navlink {
  padding: 15px;
  background: grey;
  color: blue;
  width: 170px;
  height: 70%;
  text-align:center;
  transition: .5s;
  display:inline-block;
  border-radius: 5px;
}

.navdisplay {
  padding: 15px;
  background: grey;
  color: blue;
  width: 170px;
  text-align:center;
  transition: .5s;
  display:inline-block;
  border-radius: 5px;
}
.navlink:hover {
  background: white;
  color: black;
  cursor: pointer;
}
