.nav {
  position: fixed;
  width: 100%;
  background: black;
  color: blue;
  padding: 10px;
  display:block;
}
body {

}
.navlink {
  padding: 5px;
  background: grey;
  color: blue;
  width: 50px;
  text-align:center;
  transition: .5s;
  display:block;
}
.navlink:hover {
  background: white;
  color: black;
  cursor: pointer;
}
